:root {
  --color-fondo-claro: #FAF3DD;
  --color-texto-principal: #3C3A3A;
  --color-enfasis: #FF6347;
  --color-secundario: #4682B4;
  --color-fondo-secundario: #FFF8DC;
}

.menu-header {
  padding: 5rem 0;
  text-align: center;
  color: var(--color-texto-principal); /* Cambio de color de texto */
}

.menu-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.menu-title-text {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-enfasis); /* Cambio de color de título */
}

.menu-title-subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-texto-principal); /* Cambio de color de subtítulo */
}

.menu-category {
  flex: 1;
  margin: 0 1rem;
}

.menu-category-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-texto-principal); /* Cambio de color de título de categoría */
  margin-bottom: 2rem;
}

.menu-item {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 2rem;
}

.menu-item-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.menu-item-image {
  position: relative;
  margin-right: 2rem;
}

.menu-category-left .menu-item-price {
  position: absolute;
  top: 10px; /* Ajuste de posición */
  right: 74%; /* Ajuste de posición */
  transform: translateY(-50%);
  background-color: var(--color-enfasis); /* Cambio de color de fondo */
  color: var(--color-fondo-claro); /* Cambio de color de texto */
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.2rem;
  z-index: 1;
  text-align: center;
  line-height: 50px;
}

.menu-category-right .menu-item-price {
  position: absolute;
  top: 10px; /* Ajuste de posición */
  right: 68.5%; /* Ajuste de posición */
  transform: translateY(-50%);
  background-color: var(--color-enfasis); /* Cambio de color de fondo */
  color: var(--color-fondo-claro); /* Cambio de color de texto */
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.2rem;
  z-index: 1;
  text-align: center;
  line-height: 50px;
}

.menu-item-details {
  flex: 1;
}

.menu-item-name {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-texto-principal); /* Cambio de color de texto */
  margin-bottom: 0.5rem;
}

.menu-item-description {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-texto-principal); /* Cambio de color de texto */
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
  .menu-item-name {
    font-size: 1.5rem;
  }
  .menu-item-description {
    font-size: 1.2rem;
  }
  .menu-item-image img {
    width: 100px;
    height: 100px;
  }
  .menu-item-image {
    margin-right: 3rem;
  }
  .menu-category-left .menu-item-price {
    top: 27%; /* Ajuste de posición */
    left: 20%; /* Ajuste de posición */
  }
  .menu-category-right .menu-item-price {
    top: 27%; /* Ajuste de posición */
    left: 25%; /* Ajuste de posición */
  }
}

@media screen and (max-width: 1210px) and (min-width: 860px) {
  .menu-category-left .menu-item-price {
    top: 21%; /* Ajuste de posición */
    left: 18%; /* Ajuste de posición */
  }
  .menu-category-right .menu-item-price {
    top: 21%; /* Ajuste de posición */
    left: 21%; /* Ajuste de posición */
  }
}
