:root {
  --color-fondo-claro: #FAF3DD;
  --color-texto-principal: #3C3A3A;
  --color-enfasis: #FF6347;
  --color-secundario: #4682B4;
  --color-fondo-secundario: #FFF8DC;
}

.reservation-container {
  padding: 5rem 0;
}

.reservation-content {
  max-width: 100%;
  margin: 0 60px 0 60px;
  background-image: url('../img/overlay-2.jpeg');
  background-size: cover;
  
}

.reservation-overlay {
  position: relative;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.8); /* Cambio el color de fondo con rgba */
  color: var(--color-texto-principal);
  
}

.reservation-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.reservation-col {
  flex: 1;
  padding: 2rem;
}

.reservation-discount-content {
  padding: 2rem;
}

.discount-text {
  margin-bottom: 2rem;
}

.discount-title {
  font-size: 4rem;
  color: var(--color-enfasis);
}

.discount-subtitle {
  font-size: 3rem;
  color: var(--color-fondo-secundario);
}

.reservation-form-col {
  text-align: center;
}

.reservation-form-container {
  padding: 1rem;
  background-color: rgba(250, 243, 221, 0.1);
  color: var(--color-texto-principal);
}

.reservation-container .form-title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: var(--color-enfasis);
}

.reservation-form .form-group {
  margin-bottom: 1.5rem;
}

.reservation-container .form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-fondo-secundario);
  font-size: 20px;
}

.reservation-container .form-input {
  width: 90%;
  padding: 1rem;
  border: 1px solid var(--color-enfasis); /* Cambio el color del borde */
  background: transparent;
  color: var(--color-fondo-secundario);
  font-size: 18px;
  transition: border-color 0.3s ease;
}

.reservation-container .form-select {
  width: 95%;
  padding: 1rem;
  border: 1px solid var(--color-enfasis); /* Cambio el color del borde */
  background: transparent;
  color: var(--color-fondo-secundario);
  font-size: 18px;
  transition: border-color 0.3s ease;
}

.reservation-container .form-select:focus, .reservation-container .form-input:focus {
  outline: none;
  border-color: var(--color-secundario); /* Cambio el color del borde en estado focus */
}

.reservation-container .form-select option {
  background: rgba(250, 243, 221, 0.8); /* Cambio el color de fondo de las opciones del select */
  color: var(--color-texto-principal);
}

.reservation-container .form-button {
  padding: 1rem 2rem;
  background-color: var(--color-enfasis);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.reservation-container .form-button:hover {
  background-color: var(--color-texto-principal);
}
