:root {
  --color-fondo-claro: #FAF3DD;
  --color-texto-principal: #3C3A3A;
  --color-enfasis: #FF6347;
  --color-secundario: #4682B4;
  --color-fondo-secundario: #FFF8DC;
}

.services-container {
  padding: 5rem 0;
  color: var(--color-enfasis);
}

.services-content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
}

.services-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.service-item {
  display: flex;
  align-items: flex-start;
  background-color: var(--color-fondo-secundario); /* Cambio de color de fondo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.service-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-right: 1.5rem;
}

.service-details {
  flex: 1;
}

.service-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-texto-principal); /* Cambio de color de texto */
  display: flex;
  align-items: center;
}

.service-icon {
  margin-right: 10px;
  color: var(--color-enfasis); /* Cambio de color del ícono */
  background-color: var(--color-texto-principal); /* Cambio de color de fondo del ícono */
  padding: 10px;
  border-radius: 50%;
}

.service-description {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-texto-principal); /* Cambio de color de texto */
}

@media only screen and (max-width: 1200px) {
  .services-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .service-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .service-title {
    justify-content: center;
    margin-top: 1rem;
  }

  .service-image {
    margin-bottom: 1.5rem;
  }
}
