html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #4b2e2e;
  border-radius: 6px; 
}
::-webkit-scrollbar-track {
  background-color: #f5e1a4; 
}


body {
  background-color: #f5e1a4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.back-to-to {
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  right: 40px;
  background-color: #ff8c42;
  color:#fff;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.back-to-to:hover{
  background-color: #4b2e2e;
  color:#fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}


@keyframes bounceInUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounceOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(200px);
  }
}

.bounce-in-up {
  animation: bounceInUp 1s ease;
  -webkit-animation: bounceInUp 1s ease;
}

.bounce-out-down {
  animation: bounceOutDown 1s ease;
  -webkit-animation: bounceOutDown 1s ease;
}
