html{
  scroll-behavior: smooth;
}

.back-to-to {
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  right: 40px;
}
@keyframes bounceInUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounceOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(200px);
  }
}

.bounce-in-up {
  animation: bounceInUp 1s ease;
  -webkit-animation: bounceInUp 1s ease;
}

.bounce-out-down {
  animation: bounceOutDown 1s ease;
  -webkit-animation: bounceOutDown 1s ease;
}
